body {
    margin: 0;
    text-align: center;
    background: #075985;
}

.score {
    background: #0a0001;
    font-size: 90px;
    font-family: 'Cursed Timer ULiL';
    color: #be0000;
    width: 150px;
    margin: 20px;
}

.other {
    margin-left: 700px;
    margin-top: -250px;
}

.score2 {
    background: #0a0001;
    font-size: 60px;
    font-family: 'Cursed Timer ULiL';
    color: #be0000;
    width: 510px;
}

.text{
    color: #F9FAFB;
    font: #f29411;
}

.text2{
    font-size: 60px;
    font-family: 'Cursed Timer ULiL';
    color: #d8830c;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
    border-color: #F9FAFB;
    border-radius: 5px;
    margin: 6px;
    padding: 8px;
}

.btn{
    color: #F9FAFB;
}

.btn2{
    color: #F9FAFB;
    margin-left: -720px;
}

.hide {
    display: none
}

.show {
    display: block
}